[submodule "Assets/PlayMaker Utils"]
	path = Assets/PlayMaker Utils
	url = https://jeanfabre@github.com/jeanfabre/PlayMaker--Utils.git
[submodule "Assets/PlayMaker Photon TurnBased"]
	path = Assets/PlayMaker Photon TurnBased
	url = https://jeanfabre@github.com/jeanfabre/PlayMaker--ExitGames--PhotonTurnBased_U4.3.4-SubModule-.git
